<header class="page-header">
  <a class="page-header__logo">
    <picture>
      <source media="(min-width: 1200px)" srcset="img\logo_desktop.svg">
      <source media="(min-width: 768px)" srcset="img\logo_tablet.svg">
      <img class="page-header__logo-image" src="img\logo_mobile.svg" width="226" height="30" alt="Барбершоп Бородинский">
    </picture>
  </a>
  <nav class="main-nav main-nav--closed main-nav--nojs">
    <button class="main-nav__toggle" type="button"><span class="visually-hidden">Открыть меню</span>
      <svg class="button__hamburger" width="36" height="19">
        <use xlink:href="img/sprite.svg#sprt-menu_button"></use>
      </svg>
      <svg class="button__cross" width="26" height="25">
        <use xlink:href="img/sprite.svg#sprt-cross"></use>
      </svg>

    </button>
    <div class="main-nav__wrapper">
      <ul class="main-nav__list site-list">
        <li class="site-list__item site-list__item--active">
          <a>Главная</a>
        </li>
        <li class="site-list__item ">
          <a href="#">Наши работы</a>
        </li>
        <li class="site-list__item">
          <a href="#">Записаться</a>
        </li>
        <li class="site-list__item">
          <a href="#">Контакты</a>
        </li>
        <li class="site-list__item">
          <a href="#">HTML Academy</a>
        </li>
      </ul>
      <ul class="main-nav__list user-list">
        <li class="user-list__item">
          <svg class="user-list__icon" width="16" height="16">
            <use xlink:href="img/sprite.svg#sprt-login"></use>
          </svg>
          <a href="#" class="user-list__login">
            Войти</a>
        </li>
      </ul>
    </div>
  </nav>
</header>