<main class="page-main">
  <h1 class="visually-hidden">Барбершоп "Бородинский" - Истинно мужская классика</h1>

  <section class="stats">
    <header class="stats__header">
      <h2 class="visually-hidden">Статистика Барбершопа</h2>
      <b class="stats__slogan">Стрижка унас это выгодно</b>
      <p class="stats__intro">Мужская стижка требует точного подхода. Обратимся к статистике:</p>
      <small class="stats__legend stats__legend--top">
        <sup>*</sup> - Приведенные данные ложь</small>
    </header>
    <table class="stats__list">
      <tr>
        <td class="stats__value">
          1 500<sup>*</sup>
        </td>
        <td class="stats__field">рублей <br>вложений</td>
      </tr>
      <tr>
        <td class="stats__value">7 200</td>
        <td class="stats__field">секунд
          <br>времени мастера</td>
      </tr>
      <tr class="stats__value">
        <td>90 00</td>
        <td class="stats__field">постриженных
          <br>волос</td>
      </tr>
      <tr class="stats__value">
        <td>500 000
          <sup>*</sup>
        </td>
        <td class="stats__field">лайков
          <br>комплиментов</td>
      </tr>
    </table>
    <small class="stats__legend stats__legend--bottom">
      <sup>*</sup> - Приведенные данные ложь</small>
  </section>
  <section class="advantages">
    <div class="advantage__wrapper slider">
      <h2 class="visuallly-hidden">Наши преимущества</h2>
      <ul class="advantages__list slider__list">
        <li class="advantages__item advantage__item--fast slider__item">
          <h3 class="advantages__title">Быстро</h3>
          <p class="advantages__description">Мы делаем свою работу быстро! Два часа пролетят незаметно и вы -
            счастливый обладатель стильной стрижки-минутки.</p>
        </li>
        <li class="advantage__item advantage__item--cool slider__item">
          <h3 class="advantage__title">Круто</h3>
          <p>Забудьте как Вы стириглись раньше. Ьы сделаем из Вас звезду футбола или кино. Во всяком случае внешне.</p>
        </li>
        <li class="advantage__item advantage__item--price slider__item">
          <h3 class="advantage__title">Дорого</h3>
          <p>Наши мастера профессионалы своего дела и не могут стоить дешево. К тому же, разве цена не дает
            определенный статус?</p>
        </li>
      </ul>
      <p class="advantage__toggles slider__toggles">
        <button class="slider__toggles" type="button">1</button>
        <button class="slider__toggles" type="button">2</button>
        <button class="slider__toggles" type="button">3</button>
      </p>
    </div>
  </section>
  <section class="news">
    <div class="news_wrapper">
      <h2 class="new__title">Новости и акции</h2>
      <ul class="news__list">
        <li class="news__item">
          <time class="news__date" datatime="2017-09-29">
            <b class="news__day">29</b>сент</time>
          <p class="news__text">Нам наконец-то завезли Егермейстер! Теперь вы можете пропустить стаканчик во время
            стрижки.</p>
        </li>
        <li class="news__item">
          <time class="news__date" datatime="2017-09-19">
            <b class="news__day">19</b>сент</time>
          <p class="news__text">В нашей команде пополнение, Борис "Бритва" Стригунец, обладатель множества титулов и
            наград пополнил наши стройные
            ряды. Спешите записаться!</p>
        </li>
        <li class="news__item">
          <time class="news__date" datatime="2017-09-09">
            <b class="news__day">9</b>сент</time>
          <p class="news__text">Все дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем
            здесь подвох!</p>
        </li>
      </ul>
      <a href="#" class="news__to-all button">Показать все</a>
    </div>
  </section>
  <section class="reviews">
    <div class="reviews__wrapper slider">
      <h2 class="reviews__title">Отзывы о нас</h2>
      <a href="#" class="reviews__write button">Оставить свой</a>
      <div class="reviews__list">
        <blockquote class="reviews__item slider__list slider__item">
          <p class="revirews__author-picture">
            <img class="revirews__author-image" src="#" width="50" height="33" alt="Фото Тревиса Баркера">
          </p>
          <cite class="reviews__author-name">
            Трэвис Баркер
            <p class="reviews__text">Спасибо за лысину! Был проездом в Москве, Заскочил побриться, чтобы было видно
              новую татуировку!</p>
          </cite>
        </blockquote>
        <blockquote class="reviews__item slider__item">
          <p class="revirews__author-picture">
            <img class="revirews__author-image" src="#" width="50" height="33" alt="Фото Джона Смита">
          </p>
          <cite class="reviews__author-name">
            Джон Смит
            <p class="reviews__text">Отличную стижку мне сделали ребята.</p>
          </cite>
        </blockquote>
        <blockquote class="reviews__item slider__item">
          <p class="revirews__author-picture">
            <img class="revirews__author-image" src="#" width="50" height="33" alt="Фото Ивана Бородайло">
          </p>
          <cite class="reviews__author-name">
            Иван Бородайло
            <p class="reviews__text">В Бородинском ваша борода в надежных руках!</p>
          </cite>
        </blockquote>
        <button class="reviews__prev" type="button">Предыдуший отзыв</button>
        <button class="reviews__prev" type="button">Следуюший отзыв</button>

      </div>
      <p class="reviews__toggles slider__toggles">
        <button class="slider__toggles" type="button">1</button>
        <button class="slider__toggles" type="button">2</button>
        <button class="slider__toggles" type="button">3</button>
      </p>
    </div>
  </section>
</main>
