@mixin font($font-family, $name, $weight, $style ) {
  @font-face {
    font-family:'#{$font-family}';
    src: url('../fonts/#{$name}.woff2') format('woff2'),
         url('../fonts/#{$name}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}
