.page-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
}
.page-header__logo {
  min-width: 226px;
  min-width: 30px;
  margin: 0 auto;
  padding-top: 29px;
  padding-right: 50px;
  padding-bottom: 26px;
  padding-left: 50px;
}
.main-nav {
  position: relative;

  text-align: center;
}
.main-nav--closed {
  min-width: 50px;
  margin: 0;
  padding: 0;

  background-color: #826550;
  .button__cross {
    display: none;
  }
}
.main-nav--opened {
  min-width: 250px;
  min-height: 568px;
  margin-left: 70px;
  padding: 0;

  background-color: #826550;
  box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  .button__hamburger {
    display: none;
  }
}
.main-nav__toggle {
  min-width: 70px;
  min-height: 50px;
  padding: 0;

  background-color: #6a4d38;
  border: none;
}
.button__hamburger {
  fill: #ffffff;
  &:hover {
    opacity: 0.3;
  }
}
.button__cross {
  min-width: 26px;
  min-height: 25px;

  fill: #ffffff;
  &:hover {
    opacity: 0.3;
  }
}
.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
}  
.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 0;
  left: -70px;

  border: none;
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.site-list {
  a {
    display: block;
    padding: 12px 21px;
    padding-bottom: 13px;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #826550;
    border-top: 1px solid #71543f;
    border-bottom: 1px solid #71543f;
  }
}
.main-nav--closed .site-list__item{
  display: none;
  &--active{
    display: block;
  }
}
.main-nav--closed .user-list__item{
  display: none;
}
