//section stats
.stats {
  min-width: 320px;
  margin: 0 auto;
}
.stats__header {
  padding: 30px 0;

  color: #000000;

  background-color: #ffffff;
}
.stats__legend {
  display: block;

  font-size: 16px;
  line-height: 27px;

  opacity: 0.3;
}
.stats__legend--top {
  display: none;
}
.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;

  text-align: center;
}
.stats__slogan {
  display: block;
  margin-bottom: 30px;
  padding: 0 40px;

  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}
.stats__intro {
  display: block;
  margin: 0;
  padding: 0 20px;

  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.stats__list {
  width: 100%;

  border-collapse: collapse;

  background-color: #404040;
}
.stats__list tr {
  &:nth-child(2) {
    background-color: #4e4e4e;
  }
  &:nth-child(3) {
    background-color: #353535;
  }
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
}
.stats__value {
  padding-right: 0;

  font-size: 40px;
  line-height: 40px;
}
.stats__value sup {
  top: -0.35em;

  margin-left: -2px;

  font-weight: 400;
}
.stats__field {
  padding-left: 0;

  font-size: 15px;
  line-height: 18px;
  text-align: right;
}
// end section stats

// section advantages
.slider {
  padding-bottom: 1px;

  background-color: #242424;
  background-image: url("../img/angle_div.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.advantages__list {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;

  list-style: none;
}
.no--visible {
  display: none;
}

.advantages__item {
  padding-top: 172px;

  background-repeat: no-repeat;
  background-position: center 35px;
  background-size: 95px 95px;

  &--fast {
    background-image: url("../img/advantage.svg");
  }
  &--cool {
    background-image: url("../img/advantage2.svg");
  }
  &--price {
    background-image: url("../img/advantage3.svg");
  }
}
.advantages__title {
  margin: 0;
  padding-bottom: 28px;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.advantages__description {
  margin: 0;
  padding-right: 32px;
  padding-left: 32px;

  font-size: 16px;
  line-height: 27px;
  text-align: center;
}
.advantage__toggles {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}
//end section advantages

//section news

.news_wrapper {
  padding-top: 37px;
  padding-right: 20px;
  padding-bottom: 47px;
  padding-left: 20px;

  font-size: 18px;
  line-height: 27px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f8f5f2;
  border-bottom: 1px solid rgba(0, 0, 0,0.1);
}
.news__title {
  margin: 0 auto;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
.news__list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 23px;
  text-transform: none;
}
.news__item {
  position: relative;

  padding-bottom: 10px;
  padding-left: 70px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.news__date {
  position: absolute;
  top: 20px;
  left: 0;

  font-size: 16px;
  line-height: 10px;
  // color: #ffffff;
  text-align: center;
}
.news__day {
  font-size: 30px;
  line-height: 30px;
  // color: #ffffff;
}
.date-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.news__to-all {
  display: block;
  margin: 0 auto;

  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}
.button {
  padding-top: 12px;
  padding-bottom: 12px;
}
//end section news

//section reviews
.reviews__wrapper {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 20px;

  color: #000000;

  background-color: #f8f5f2;
  &.slider {
    background-image: url("../img/angle_div_black.svg");
  }
}
.reviews__write {
  display: none;
}
.reviews__title{
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
}
